.speedDial {
  position: fixed;
  top: 3vmax;
  right: 3vmax;
  
}
.SpeedDialIcon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.speedDial .MuiFab-root {
  border: none;
  box-shadow: none;
}

.speedDial .MuiFab-root:focus {
  outline: none;
  box-shadow: none;
}